* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.logo a {
  text-decoration: none;
  font-size: clamp(2rem, 2.4rem, 2.4rem);
}

.nav-links-container {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-link a {
  font-size: 1.13rem;
  text-decoration: none;
}
.nav-link a:hover {
  text-decoration: underline;
}

a:visited {
  color: #000;
}

.searchbox {
  grid-column: 2 / 3;
}
.results {
  grid-row: 2;
}

.search-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding-top: 50px;
}

.search-title {
  width: 90%;
  max-width: 90%;
  font-size: 1.9rem;
  font-weight: 600;
  padding: 10px 10px 10px 0;
}

.search-input {
  width: 86%;
  padding: 10px 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.search-button {
  width: 90.4%;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 10px;
}
.results-section {
  grid-column: 2 / 3;
  grid-row: inherit;
  padding-top: 5rem;
}
.error-toast {
  background-color: #f4f4f4;
  /* border: 3px solid red; */
  color: #000;
  font-weight: bold;
}

.data-loading-header {
  margin-top: 50px;
}

/******* Media Queries *******/
@media (max-width: 735px) {
  /* Navbar */
  .header-container {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 1.9rem;
  }
  .nav-link a {
    font-size: 1rem;
  }
  /* Search Box */
  main {
    display: flex;
    flex-direction: column;
  }

  .search-form {
    align-items: center;
    width: 100%;
  }
  .search-title {
    text-align: center;
  }
}
